#scrollable-page {
    overflow-y: auto;
  }


#nav {
    display: flex;
    justify-content: space-between;
    background: #D9D9D9;
    padding: 0px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    width: 100%;
    position: fixed; /* Esto fija el nav en la parte superior */
    top: 0; /* Esto asegura que esté en la parte superior */
    left: 0; /* Esto asegura que esté en el extremo izquierdo */
    z-index: 1000; /* Esto asegura que esté por encima de otros elementos */
}

/* Resto de tu estilo permanece igual */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin-top: 4%;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #30402D;
}

#navbar li a:hover {
    color: #023b09;
}

#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #059318;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#logo{
    margin-top: -0.1%;
}

#fondo{
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
}

#con-image{
    width: 100%; /* 100% del ancho del contenedor padre */
    height: 40px; /* 100% de la altura del contenedor padre */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Establece una posición absoluta para poder posicionar el contenido dentro del fondo */
    top: 0;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



#content {
    position: relative;
    z-index: 1;
    text-align: center; /* Ajusta según tus necesidades */
    color: white; /* Ajusta el color del texto según tus necesidades */
    padding: 20px; /* Ajusta el espaciado interno según tus necesidades */

}
#foo {
    background: #059318;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .4);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    text-align: center;
}


#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}



#footer li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#footer li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}
/* Resto de tu estilo para el footer */
