.ingredient-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ingredient-item {
    display: flex; /* Esto establece el contenedor como un flex container */
    align-items: center; /* Esto alinea los elementos verticalmente */
    margin-right: 20px; /* Espacio entre los elementos (ajusta según sea necesario) */
  }
  
  .checkbox-label {
    display: flex; /* Esto permite que el label contenga tanto el checkbox como el texto */
    align-items: center; /* Esto alinea los elementos verticalmente */
  }
  